body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(30, 29, 29);
}

.container {

    width: 600px;
    margin: auto;
    background-color: #f6e492;;
    margin-top: 5%;
    padding: 30px;
    border-radius: 25px;
    height: 75vh;
}

input {
    background-color: rgb(30, 29, 29);
    border: 0;
    border-radius: 9px;
    padding: 10px;
    color: white;
    padding-left: 35px;
    width: 20%;
}

input::placeholder {
    color: #f7f7f7;
}

.weather_search {
    position: relative;
}

.weather_search i {
    position: absolute;
    left: 9px;
    top: 10px;
    color: #f7f7f7;
    font-size: 15px;
}


.weather_city{
    font-weight: 600;
    font-size: 28px;
}

.weather_info {
    width: 550px;
    display: grid;
    flex-direction: row;
    grid-template-columns: auto auto;
    margin: auto;
    padding: 10px;
}

.weather_card {
    display: grid;
    grid-template-columns: 20% 80%;
    font-size: 15px;
    margin: 10px;
    box-shadow: #484343c1 0px 3px 4px;
    border-radius: 5px;
    padding: 0px 10px;
    width: 75%;
    margin: 10px;
    background-color:rgb(255, 255, 255);
}



.fa-droplet,
.fa-wind,
.fa-temperature-three-quarters,
.fa-gauge-high {
    padding-top: 11px;
    font-size: 25px;
}

p {
    padding: 0;
    margin: 5px;
}


.weather_body {
    text-align: center;

}

.weather_forecast {
    background-color: rgb(30, 29, 29);
    color: #f7f7f7;
    width: 60px;
    text-align: center;
    margin: auto;
    border-radius: 15px;
    padding: 4px;
}

.weather_minmax {
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
    width: 200px;
    font-size: 13px;
    color: #717070;
}

.weather_temperature {
    font-size: 20px;
    font-weight: 500;
}

.weather_icon img {
    height: 80px;
    width: 80px;
   
}


@media (min-width: 480px) and (max-width:781px){
    .container{
        width: 80%;
        
    }

    .weather_info{
        width: 80%;
    }

    input{
        width: 30%;
    }

}


@media (max-width: 480px){
    .container{
        width: 80%;
        padding: 20px 10px;
        margin-top: 30%;
        height: 70vh;
        padding-top: 40px;
    }

    .weather_info{
        width: 90%;
    }

    input{
        width: 40%;
        height: 10px;
    }

}

/* TCG */
